[Desktop Entry]
Type=Application
Name=Install GroundZero
Comment=Installer for GroundZero
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Cloak sudo -E calamares
Icon=gz-calamares
