/*********
 * panel *
 *********/

#panel_window {
 opacity: 0.75;
 color: @theme_selected_fg_color;
 background-image: linear-gradient(to bottom, #323232, #080808 55%, #000000);
 }

#panel_window .menubar,
#panel_window .menubar .menuitem {
 color: @theme_selected_fg_color;   	
 background-color: alpha (black, 0.6);
 background-image: none;
 border-image: none;
 border-width: 0px;
 text-shadow: none;
 }

#panel_window .menubar .menu {
 background-image: none;
 background-color: alpha (black, 0.6);
 color: @theme_selected_fg_color;   
 border-image: none;
 border-width: 0px;
 }

#panel_window .menubar .menu .menuitem {
 text-shadow: none;
 color: @theme_fg_color;
 background-image: none;
 background-color: alpha (black, 0.6);
 border-image: none;
 border-width: 0px;
 }

#panel_window .menubar .menu .menuitem:hover {
 text-shadow: none;
 color: @theme_selected_fg_color;
 background-image: url("darkelements/menubar-item-active.png");
 background-color: alpha (black, 0.6);
 border-image: none;
 border-width: 0px;
 }

#panel_window .menubar .menuitem:disabled {
 color: @theme_disabled_fg_color;
 background-color: alpha (black, 0.6);
 background-image: none;
 border-color: alpha (black, 0.6);
 border-image: none;
 border-width: 0px;
 }

/****************
 * login window *
 ****************/
#login_window,
#shutdown_dialog,
#restart_dialog {
 border-style: none;
 border-color: alpha (black, 0.6);
 color: @theme_fg_color;
 background-color: alpha (black, 0.6);
 /* draw border using box-shadow */
 box-shadow: inset 1px 0 shade(@lightdm_fg_color, 0),
 inset -1px 0 shade(@lightdm_fg_color, 0),
 inset 0 1px shade(@lightdm_fg_color, 0),
 inset 0 -1px shade(@lightdm_fg_color, 0);  
 }

/********************
 * password warning *
 ********************/
#greeter_infobar {
 color: @theme_selected_fg_color;
 border-style: none;
 border-color: alpha (black, 0.6);
background-color: transparent;
 }
