[Desktop Entry]
Type=Application
Name=Install GZLx
Comment=Installer for GZLx
Categories=Utility;
Exec=env QT_QPA_PLATFORMTHEME=Vertex-Dark sudo -E calamares
Icon=gz-calamares
