button-icon=/usr/share/icons/whiskermenu.png
button-single-row=false
show-button-title=false
show-button-icon=true
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-web-browser.desktop,exo-mail-reader.desktop,pamac-manager.desktop
menu-width=400
menu-height=519
category-icon-size=1
hover-switch-category=true
favorites-in-recent=true
load-hierarchy=false
recent-items-max=10
display-recent-default=false
position-search-alternate=false
position-commands-alternate=false
position-categories-alternate=false
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=xflock4
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true


