button-icon=/usr/share/icons/whiskermenu.svg
button-single-row=false
show-button-title=true
button-title=GzLx
show-button-icon=false
launcher-show-name=true
launcher-show-description=true
item-icon-size=2
favorites=exo-terminal-emulator.desktop,exo-file-manager.desktop,exo-web-browser.desktop,exo-mail-reader.desktop,pamac-manager.desktop
menu-width=400
menu-height=500
menu-opacity=75 
category-icon-size=1
hover-switch-category=true
favorites-in-recent=true
load-hierarchy=false
recent-items-max=10
display-recent-default=false
position-search-alternate=true
position-commands-alternate=true
position-categories-alternate=true
command-settings=xfce4-settings-manager
show-command-settings=true
command-lockscreen=i3lock -i /usr/share/backgrounds/gz/GzLx.png -n
show-command-lockscreen=true
command-switchuser=dm-tool switch-to-greeter
show-command-switchuser=true
command-logout=xfce4-session-logout
show-command-logout=true
command-menueditor=menulibre
show-command-menueditor=true


