style "panel"
 {
 xthickness           	= 2
 ythickness            	= 2
engine "pixmap"
 {

 }

 bg_pixmap[NORMAL] 	= "Panel/dark-bottom.png"

 }

widget "*Xfce*Panel*" 	style "panel"

style "panelbuttons"
 {
 fg[NORMAL]		= "#a1a1a1"
 fg[PRELIGHT]		= "#bcbcbc"
 fg[ACTIVE]		= "#bcbcbc"
 fg[SELECTED]		= "#bcbcbc"
 fg[INSENSITIVE]	= "#606060"

 xthickness            	= 2
 ythickness            	= 2

engine "pixmap" {
image
 {
 function   		= BOX
 state			= NORMAL
 file           	= "Panel/null.png"
 border         	= { 0, 0, 0, 0 }
 stretch         	= TRUE
 }
		
image
 {
 function		= BOX
 state			= PRELIGHT
 recolorable		= TRUE
 file			= "Panel/panel-button-hover.png"
 border			= { 0 , 0 , 0 , 0}
 stretch		= TRUE
 }		

image
 {
 function		= BOX
 state			= ACTIVE
 file			= "Panel/panel-button-hover.png"
 border			= { 0 , 0 , 0 , 0}
 stretch		=TRUE
 }
image
 {
 function      		= BOX
 state			= INSENSITIVE
 file           	= "Panel/null.png"
 stretch        	= TRUE
		
 } 
 }

 }

widget_class "*Xfce*Panel*" 			    style "panelbuttons"
widget_class "*tasklist*" 			    style "panelbuttons"
widget_class "*Xfce*Panel*.GtkToggleButton" 	    style "panelbuttons"
widget_class "*Xfce*NetkTasklist*GtkToggleButton"   style "panelbuttons"
